@charset "UTF-8";
/* GLOBAL
-------------------------------------------------- */
html {
	width:100%;
	height:100%;
}
body {
	margin:0;
	padding:0;
	background: rgb(225,225,220);
}
.center {
	text-align:center;
}
.marginTopFix20{
	margin-top:20px;
}
/* MAIN PAGE HEADER
-------------------------------------------------- */
.smgt .jumbotron {
	position: relative;
	padding: 40px 0;
	margin-bottom:10px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: rgb(93,136,40);
	border-bottom: 10px solid rgb(51,92,113);
}
.smgt .jumbotron h1 {
	font-size: 50px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}
.smgt .jumbotron p {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 20px;
}

/* MAIN NAV
-------------------------------------------------- */
.smgt .bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.smgt .bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid rgb(225,225,220);
}
.smgt .bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.smgt .bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.smgt .bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.smgt .bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.smgt .bs-docs-sidenav > li > a:hover {
  background-color: rgb(93,136,40);
}
.smgt .bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.smgt .bs-docs-sidenav .active .icon-chevron-right,
.smgt .bs-docs-sidenav .active a:hover .icon-chevron-right {
	background-image: url(bootstrap/img/glyphicons-halflings.png);
	opacity: 1;
}
.smgt .bs-docs-sidenav.affix {
  top: 0;
}
.smgt .bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* BODY CONTENT
-------------------------------------------------- */
.smgt section > .page-header {
	padding-bottom:5px;
	margin-bottom:20px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #000;
}
.smgt section > .page-header > h1 {
	font-size:36px;
	font-weight:normal;
	font-family:Century Gothic, sans-serif;
	text-transform:uppercase;
}
.smgt section > h2 {
	font-size:21px;
	line-height:26px;
	font-weight:bold;
	font-family:Century Gothic, sans-serif;
	text-transform:uppercase;
	margin:15px 0px;
}
.smgt section > .lead {
	font-weight:400;
	margin-bottom:10px;
}
/* FOOTER
-------------------------------------------------- */
.smgt .footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
  border-top: 5px solid rgb(51,92,113);
  background: rgb(0,51,77);
}
.smgt .footer p {
  margin-bottom: 10px;
  color: #FFF;
  font-size:12px;
  font-weight:normal;
}
.smgt .footer a,
.smgt .footer a:hover,
.smgt .footer a:visited {
	color:rgb(93,136,40);
	text-decoration:underline;
}
/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .smgt .bs-docs-sidenav {
    width: 258px;
  }
  .smgt .bs-docs-sidenav > li > a {
    width: 230px \9; /* Override the previous IE8-9 hack */
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* When affixed, space properly */
  .smgt .bs-docs-sidenav {
    top: 0;
    width: 218px;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Widen masthead and social buttons to fill body padding */
  .smgt .jumbotron {
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }
  /* Adjust sidenav width */
  .smgt .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .smgt .bs-docs-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Widen masthead and social buttons to fill body padding */
  .smgt .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }
  /* Sidenav */
  .smgt .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .smgt .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
  /* Unfloat the back to top link in footer */
  .smgt .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Downsize the jumbotrons */
  .smgt .jumbotron h1 {
    font-size: 50px;
  }
  .smgt .jumbotron p,
  .smgt .jumbotron .btn {
    font-size: 18px;
  }
  .smgt .jumbotron .btn {
    display: block;
    margin: 0 auto;
  }
  /* Tighten up footer */
  .smgt .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}